[2020-01-28 03:16] sagesharp commented on #364
@Aju100 Why did you run pipenv shell before you ran pipenv install? The directions say: "Make sure that you are in the website directory first, and have not run pipenv shell yet, then run pipenv install"

[2020-01-28 03:23] sagesharp commented on #365
Unfortunately that's how form validation works for the Django extension we're using. When you have a multi-step form that uses the [django-formtools wizard](https://django-formtools.readthedocs.io/en/latest/wizard.html#usage), each step has to be validated before you go to the next or previous steps.

I agree it's not intuitive behavior, but it's not something we can fix. Closing this issue.

[2020-01-28 03:23] #365 closed

[2020-01-28 03:34] sagesharp commented on #366
The home page isn't actually in the Outreachy website repository. It's stored in the content management system (CMS) database on the live site. So it's expected that the home page doesn't show anything interesting when you're developing locally.

Feel free to update the README.md to reflect that you may not see the same content on the homepage as on the live site.

That said, the error you're gett

[2020-02-04 22:18] sagesharp commented on #364
Hi @Aju100. Did you manage to figure out the issue with setting up the website development environment? Since you haven't replied in one week, I'm going to close this issue. Please reopen it if you're still seeing the problem after trying the solution above. Or re-open a new issue if you're facing a different error message.

[2020-02-04 22:18] #364 closed

[2020-02-05 01:55] Aju100 commented on #364
@sagesharp thank you so much. It has been resolved.

[2020-02-05 02:16] Aju100 opened #367 "'postcss' is not recognized as an internal or external command, operable program or batch file."
I have followed the instructions and install this repo. I have migrated too. After it, I tried to run on my localmachine but seems error.

![post](https://user-images.githubusercontent.com/29862610/73804999-8dcc0200-47ed-11ea-9980-e4d2027dbe06.PNG)

[2020-02-05 16:39] Aju100 commented on #366
@sagesharp  thank you so much.

[2020-02-08 11:19] kushthedude opened #369 "Nav Bar in the website is uppercutted"
The navigation bar on outreachy.org is uppercutted.

#### Screenshot :
<img width="1248" alt="Screenshot 2020-02-08 at 4 47 50 PM" src="https://user-images.githubusercontent.com/44091822/74084209-e4a63580-4a92-11ea-8ddd-9eeaeb99b73c.png">

#### Device :
OS : MacOS Mojave
Browser: Safari

[2020-02-08 11:19] kushthedude commented on #369
Ping @sagesharp

[2020-02-08 21:51] djmitche commented on #369
Hm, I don't see that.  Is that black bar from a browser extension of some sort?

[2020-02-08 23:23] gconnect commented on #362
Hi, @sagesharp I would like to work on this. I believe the content to be added to the Mentor FAQ are what you already provided above in the issue description?

[2020-02-09 01:14] sagesharp commented on #367
@Aju100 What command are you using to run the webserver? E.g. the one that includes 'runserver'? Did you start the virtual environment and then run the `npm install` command? My guess is that either a) you don't have the right npm packages installed in your Python virtual environment, or b) you aren't pointing the web server to the path for the npm packages.

[2020-02-09 01:15] sagesharp commented on #367
What would help is a screen shot of the exact commands you're running, including the list of files in the directory you're in when you run those commands.

[2020-02-09 01:31] sagesharp commented on #362
@gconnect Thanks for the offer of help! For looking at future issues to solve, I would recommend you take a look at issues marked '[help-wanted](https://github.com/outreachy/website/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22)'. Those issues are a little more well-defined than some of the issues I file as notes to myself. If you're new to Django, please look at the '[newcomers-welcome]

[2020-02-09 13:33] gconnect commented on #362
Thanks @sagesharp  for the detailed explaination. Its a lot clearer now. I am up for the challenge. I will give it a shot.

[2020-02-09 16:56] kushthedude commented on #369
That black is browser tab bar and it is on top, As you can see the navbar is cutted from above

[2020-02-09 18:07] sagesharp commented on #369
@kushthedude What web browser are you using?

[2020-02-09 19:21] sagesharp commented on #362
@gconnect Great to hear you're up for a challenge! Do let me know if you run into problems with the installation instructions.

[2020-02-09 22:34] gconnect commented on #362
I am having this error while trying to do ./manage.py migrate
![image](https://user-images.githubusercontent.com/23031920/74111447-bf015500-4b94-11ea-8ef0-5fba6e21ee30.png)

[2020-02-10 04:46] kushthedude commented on #369
I am on Safari.

On Sun, 9 Feb, 2020, 23:37 Sage Sharp, <notifications@github.com> wrote:

[2020-02-10 04:54] kushthedude commented on #369
No custom theme/skin

[2020-02-10 12:23] kushthedude commented on #369
Solved, I dont know if it was a flake or not. Thanks for your time @sagesharp @djmitche .

[2020-02-10 12:23] #369 closed

[2020-02-10 17:43] sagesharp commented on #362
@gconnect Could you copy-paste all the commands you've run so far, starting from the 'git clone' command?

I notice you're running python 3.8. The Outreachy website is currently using Python 3.6.2. That could be part of the problem. Pip should have warned you about using a newer version of Python. If you're following the installation instructions correctly (which we'll see from which commands you'

[2020-02-10 20:18] gconnect commented on #362
These are the commands I have ran so far
git clone https://github.com/outreachy/website.git
cd website
pipenv install
pipenv shell
npm install
./manage.py migrate (is at this point am having the error)

[2020-02-11 03:04] sagesharp opened #370 "Initial application bounces back to first page when using Safari"
We've gotten several reports from people who get to the last page of the initial application, and when they click 'Submit', they're taken back to the first page of the initial application.

To reproduce:
 - follow the instructions in the README to install the development environment.
 - [create a new round where the application period is open](https://github.com/outreachy/website/blob/master/READM

[2020-02-13 01:44] sagesharp commented on #370
This may not be specific to Safari. Someone reported they tried a different computer and that one worked. Someone else reports they tried Edge, Chrome, and Safari, and none of the browsers worked.

[2020-02-13 23:42] sagesharp commented on #370
Found on: latest version of chrome browser (as of Feb 13) using windows 10.

[2020-02-14 00:06] sagesharp commented on #370
For anyone else who experiences this issue, please provide the following information:

1. What web browser are you using?
2. What is the web browser version string?
3. Do you have any ad blockers installed?
4. Do you allow cookies to be set?
5. What operating system are you using?
6. What is the version number of your operating system?
7. How long was it between when you started filling out the in

[2020-02-21 01:50] sagesharp opened #371 "Email reminder to communities with missing projects"
As we near the deadline for mentors to submit projects, some communities have no projects, or less projects than they have funding for. Outreachy organizers end up emailing communities by hand to remind them of the deadline. This is tedious, and could be automated.

The Outreachy website already has a way for organizers to be reminded to send emails at a particular time. The emails show up as remi

[2020-02-21 17:25] sagesharp commented on #362
Hi @gconnect. Debian doesn't have Python 2.8 available yet, so I'm unable to update my own development environment to the same Python version as yours. I looked over your list of commands, and they do look correct.

I suspect the issue is something new with Python 2.8. Could you try installing Python 2.7 and see if that fixes your issue? Otherwise I'll wait until Debian updates the Python package

[2020-02-21 19:55] gconnect commented on #362
I guess you meant to say Python 3.7?

[2020-02-21 20:28] sagesharp commented on #362
Yes, sorry, Python 3.7. I'm currently running Python 3.7.6 on my machine.

[2020-02-24 18:06] sagesharp commented on #370
Reported on Chrome Version 80.0.3987.116

[2020-02-24 18:17] sagesharp commented on #370
Second report:

1. Browser - Chrome
2. Version  - 80.0.3987.106 (Official Build) (64-bit)
3. No ad-blocker installed
4. Cookies are allowed
5. Operating system - Windows 10
6. Version 10.0.18362 Build 18362
7. Time - around 5-10 mins
8. Yes i have stable internet connection

[2020-03-05 17:22] djmitche opened #372 "CFP page says org has never been approved"
https://www.outreachy.org/communities/cfp/mozilla/

That's not true :)

[2020-03-06 01:38] Navneet-Suresh opened #373 "Issue with images on Homepage."
![Screenshot_20200306-070628](https://user-images.githubusercontent.com/5709753/76041829-30a4a700-5f79-11ea-9296-181029df4c52.jpg)

The image in the homepage is breaking the responsive design of the site.

[2020-03-17 02:59] sagesharp commented on #373
Thanks for reporting this issue. It's a known issue. The home page is built with the Wagtail CRM. We add images using their image chooser widget, which does not add responsive image tags. The fix is to move the homepage into a Django template. That requires a lot of work (especially around getting the sponsor logos right), so we've been putting it off for a while.

[2020-03-17 04:08] robbyoconnor opened #374 "Add a timeline with the ability to export to ics format in a more prominent place"
I would like one uniform place to look for the timeline. We just have to handle the current round, though having both rounds is also handy. This should be prominent similar to how Google does it for GSoC:

![image](https://user-images.githubusercontent.com/23088/76821102-5df81d00-67e3-11ea-8dcf-587f85eeef6c.png)

Being able to export it is also super helpful since i'm running both Outreachy and GS

[2020-04-06 20:43] yaeluria opened #376 "Improve UX for cancelled projects"
I'm an outreachy May 2020 participant and one of the projects I was applying to withdrew its participation from the coming internship (I found out by asking the mentor). I did not get notified of this change and my Dashboard still looked like this:
![Screen Shot 2020-04-06 at 9 09 43 PM](https://user-images.githubusercontent.com/37266719/78591412-10a02600-784c-11ea-9a81-64c40c882904.png)
The links

[2020-04-07 00:21] teor2345 opened #377 "Some blog posts don't appear in the blog index"
I can visit this blog post directly:
https://www.outreachy.org/blog/2020-03-27/outreachy-response-to-covid-19/

But I can't see it on:
https://www.outreachy.org/blog/

The last post I can see is:
Projects that need more applicants - December 2019 round
Posted 5 months, 2 weeks ago by Sage Sharp

Sage says:

[2020-04-27 22:31] wetneb commented on #373
If you are open to it, I would propose a big overhaul of the main page.

Beyond the issue with the picture, the structure of the page is not very clear. The announcements are mixed with the general description of what Outreachy is about.

As a coordinator / mentor / applicant, the main information I want to see is:
* what stage is the program currently in (organizations apply, interns apply, organ

[2020-05-08 11:26] Yashank18 opened #380 "Mobile Responsive Issues"
### When we open the website on mobile devices, it's not responsive.
### Screenshot-
![Screenshot (159)](https://user-images.githubusercontent.com/46098062/81401408-dd9fc980-914c-11ea-80c0-106de5af67b8.png)
### Will like to work on this issue

[2020-05-21 23:03] sagesharp opened #382 "Warn organizers if a mentor is overloaded with mentees"
Some Outreachy mentors try to mentor more than one intern. We really try to discourage that, but sometimes we don't notice it in time.

Add a warning to the organizer intern selection dashboard when a mentor is overloaded. The warning should look similar to what we do for an intern selection conflict. We need to take into account that there might be co-mentors who share the load. But those co-ment

[2020-05-21 23:31] sagesharp opened #383 "Put timezone in intern contacts page"
List the timezone that interns work in on the intern contacts page. This will help Outreachy organizers know when is the best time to contact interns via chat.

List the timezone on a new line between the intern's pronouns and email address. The template to change is home/templates/home/active_internship_contacts.html. The timezone can be found in `class Comrade`, which is linked to from `class Ap

[2020-05-21 23:39] sagesharp commented on #382
There's an additional cornercase to consider: GSoC mentees. Some mentors in the May 2020 round may sign up to mentor both Google Summer of Code interns and Outreachy interns. They often don't know how many mentees they'll have until communities get an email from Google telling them how many GSoC internship slots they've been allocated. We would have to have coordinators update the number of GSoC i

[2020-05-22 01:45] djmitche commented on #382
A partial solution is probably adequate here -- I suspect in most cases that the coordinators are aware of these situations, but a flag can help double-check.

I agree that requiring further data entry from coordinators is unlikely to work.

[2020-05-28 07:55] oalbacha opened #384 "Outreachy home page type"
Hello,
I found a typo on the Outreachy home page while reading through so I thought I’d let you know about it:

![image](https://user-images.githubusercontent.com/17005317/83114268-d16ab480-a0d9-11ea-9205-ae512707533f.jpeg)

“Outreachy will be looking..” There is no need for the “is” here.

Let me know what you decide, I am happy to submit a quick PR for this if needed.

Omar

[2020-05-30 18:08] krysal commented on #383
Hi @sagesharp, how this can be tested? accessing `dashboard/active-internship-contacts/` url? I think some intern data is required, if you can facilitate the instructions for this I will be happy to help here!

[2020-06-03 04:10] sagesharp commented on #384
Thanks for spotting this, @oalbacha! The homepage isn't in this repo, it's stored in a database on the website CMS. So unfortunately you can't submit a pull request. But I will go fix it.

[2020-06-03 04:12] sagesharp commented on #384
Fixed now! Thanks again for spotting this @oalbacha! :blue_heart:

[2020-06-03 04:12] #384 closed

[2020-06-03 04:15] sagesharp opened #385 "Document how internship credits work"
New coordinators don't know what happens to their sponsorship funds if an internship is terminated. We hold it as a credit for the community. Those funds are available for up to two years, and then they revert to the Outreachy general fund.

Document this in a new coordinator manual. This is gated by moving the coordinator manual out of the Wagtail CMS and into a Django template.

[2020-06-05 16:52] senjutibala commented on #301
@sagesharp can I work on the issue?

[2020-06-11 23:10] sagesharp opened #389 "Provide link for mentor and intern to project description"
While the internship is ramping up, mentors may want to refer the intern to the project description. That is not visible to the intern, but it is visible to mentors.

We need to provide a link to the project description on the Outreachy intern dashboard, after interns are announced.

Depends on #233 (where past projects are hidden completely, due to a permissions bug in the template).

[2020-06-20 17:06] sagesharp opened #390 "Collect anonymous feedback from interns and alums"
Sometimes Outreachy alums have negative experiences with an Outreachy community. They may be reluctant to report it to us after their internship is done. We want to provide them an opening to give Outreachy organizers information about their internship.

Provide a form that alums can give us feedback on their community. Email them six months after their internship is done, and prompt them to fill

[2020-06-22 18:12] sagesharp opened #391 "Document mentor time expectations for applicants and interns"
We need to set expectations appropriately for Outreachy applicants and interns. There are some common misconceptions about the amount of time Outreachy mentors have available for interns.

Here are some common misconceptions:

 * Mentors work for Outreachy
 * Mentors are working full-time on mentoring
 * Mentors work full-time on their open source community

For applicants, add a new section to th

[2020-07-08 14:18] sagesharp commented on #337
This was implemented in the 2019 longitudinal study. The code for the study wasn't added to the Outreachy website, but it was added to an Open Data Kit survey.

[2020-07-08 14:18] #337 closed

[2020-07-08 15:02] sagesharp opened #392 "Gather ideas from other community's mentor guides"
In order to increase the number of mentors Outreachy has each round, we need to provide better documentation for beginning mentors.

People are often worried or anxious when they think about being a mentor. They may have never mentored before. They may have been a mentee, but there's no guarantee they had a good mentor.

New mentors need guidance about what it takes to be a mentor. This should let

[2020-07-20 22:03] alejo4373 commented on #391
Hi, can I work on adding these as you suggest?

[2020-07-21 11:58] sagesharp opened #393 "Update opportunities page with additional open source programs"
The opportunities page has a section titled "More opportunities" that is meant to have programs where people can learn about open source software. The emphasis is on paid opportunities.

@tapaswenipathak has an awesome [list of open source opportunities](https://github.com/tapaswenipathak/Open-Source-Programs). However, it may be outdated, since it was last updated in 2019.

Your goal, should you

[2020-07-21 12:03] sagesharp commented on #391
Hi @alejo4373 You're welcome to try this out. However, it usually takes me more than a week to look at pull requests, so please be patient. I also suspect I'm going to want to do a lot of editing to the text once you have it place, so don't take that too personally. :sweat_smile:

Let me know if you have any questions by replying to this issue. Thanks for looking at this!

[2020-07-21 15:51] AemieJ opened #394 "Dashboard doesn't appear on chrome browser"
The outreachy dashboard while it appears on Mozilla browser it doesn't appear for me on the chrome browser.

![outreachy-dashboard](https://user-images.githubusercontent.com/44139348/88076604-e9b9f580-cb97-11ea-9f30-6d4a83b7d19f.png)

[2020-07-21 21:10] sagesharp commented on #394
Thanks for the bug report! I have a couple questions:

1. What version of Chrome are you running?
2. What operating system are you on? (And what version?)

[2020-07-24 06:43] AemieJ commented on #394
@sagesharp 1. Chrome v78
2. Fedora 30

[2020-08-10 15:19] EUGINELETHAL commented on #389
Hello, @sagesharp I would love to contribute to the outreachy website and would love to know which issues to start with

[2020-08-12 13:29] sagesharp opened #395 "Collect country in initial application"
Outreachy is going to be making some temporary changes to student eligibility for the December 2020 round. Non-students will still be eligible (pending a review of their time commitments). Students in the northern hemisphere will not be eligible for this round, even if they have enough days free. Only students in the southern hemisphere with 42 days free will be eligible for this round.

In order

[2020-08-19 08:49] sagesharp opened #396 "Add off-boarding tips to intern guide"
One of the Outreachy interns wrote a guide: [What happens after Outreachy](https://gist.github.com/biancadanforth/dfaa32023cc79da8bcd2655aff813dfa)

We should look at how to encorporate tips from that guide into our [Internship Guide](https://github.com/outreachy/website/blob/master/home/templates/home/docs/internship_guide.html).

We may also want to make changes to intern chats or career support

[2020-08-28 01:15] sagesharp opened #397 "Show terminate status on feedback table and details page"
Mentors fill out a feedback forms to evaluate their interns. The feedback is requested three times: initial, midpoint, and final feedback. Using the form, mentors can say that they want to terminate an internship.

The feedback summary table that shows up on the Outreachy organizer dashboard doesn't properly show if mentors want to terminate an internship. It just shows the feedback as "submitted"

[2020-08-30 12:28] geegatomar commented on #397
Hi, can I work on fixing this?

[2020-09-04 12:19] sagesharp opened #399 "Newcomers - please read"
### Maintainer busy periods

We welcome newcomers during the following periods:

 - March 5 to July 31
 - October 1 to December 15

The maintainers of this repository are very busy with Outreachy mentors and applicants during these periods:

- January 1 to March 5
- August 1 to October 1

### Busy time policies

During our busy times:

- pull requests that fix urgent bugs (issues marked with ["bug

[2020-09-15 19:00] sagesharp commented on #362
@gconnect Jamey recently fixed a Python 3.8 incompatibility in our Django project. You should now be able to get your website development environment set up using Python 3.8. I'm so sorry it took so long to fix this issue. We'd love if you want to pick up this issue again, or any other issue tagged "newcomers welcome" or "help wanted".

[2020-09-16 06:20] gconnect commented on #362
Thanks. I will look at the issue again. And get to work.

[2020-10-14 23:38] krysal commented on #395
Is this still needed for future rounds? The [Django Countries](https://github.com/SmileyChris/django-countries) package provides a **CountryField** with a complete list of countries (ISO 3166-1), could be a good option too.

[2020-11-05 10:56] #367 closed

[2020-11-05 10:56] #366 closed

[2020-11-23 17:44] sagesharp opened #452 "Show intern round dates on each alum entry in alums page"
It's confusing to scroll through the [ Outreachy alums](https://www.outreachy.org/alums/) page. There are headings for what internship round each intern is accepted in (e.g. "December 2020 to March 2021"). However, it gets confusing as you scroll through the long list of interns. Because we list multiple cohorts on the same page, you can run across the same organization multiple times, and it's no

[2020-11-23 17:59] KarenEfereyan commented on #452
I don't write django

[2020-12-28 19:43] sagesharp commented on #395
Thanks for asking! This issue should be closed, since we did add a country field to the initial application essay questions page.

[2020-12-28 19:43] #395 closed

[2021-01-07 17:03] sagesharp opened #454 "Withdrawn mentor still listed on alums page"
Outreachy mentors sometimes have personal issues and have to withdraw in the middle of an internship. In that case, we want to keep documentation of that past mentor relationship and their signed mentor agreement. But we don't want them listed as mentor on the Outreachy alums page. They shouldn't have access to intern feedback either.

Right now, when a mentor withdraws, it puts their `class Mento

[2021-01-16 03:47] 96RadhikaJadhav commented on #452
@sagesharp I'm a newbie to Django. I want to work on the issue. I will start to work on it and will create a PR soon.

[2021-01-20 01:17] sagesharp commented on #452
@96RadhikaJadhav Welcome to the Outreachy website repo! Please do work on this issue. When you have questions, please ask them by commenting on this issue. If you have trouble setting up your development environment, please also comment here with the error log.

[2021-01-20 18:02] sagesharp opened #455 "Forms with date fields not submitted when using Safari"
Some forms contain date fields, like the time commitment forms in the initial application or the "last contact date" in the mentor and intern feedback forms. When someone uses the Safari browser, there is no date popup. There's also no indication of the correct date format (which is YYYY-MM-DD). Using an incorrect date format shows an error and the form cannot be submitted.

We don't know why this

[2021-01-22 23:46] jameysharp commented on #455
We fixed this issue for most people by switching to HTML5 date widgets, two years ago: see #244. The problem here is that Safari doesn't provide any UI for HTML5 date widgets, presenting them as plain text fields.

As long as someone on Safari enters the date in the format we expect, it works; it's only bad UX, not a bug which entirely prevents submitting the form. Django reports a validation erro

[2021-01-25 18:15] tosinfarai opened #456 "Interns should be able to update their project timeline during the internship period"

[2021-01-30 18:00] ViolanteCodes opened #459 "Outreachy email #9 currently references travel stipend despite being on pause d/t coronavrius"
Filing bug after suggestion on zulip chat. At current, outreachy applicants are receiving their travel stipend as already budgeted into their stipend, but Outreachy email #9 makes references filing for the travel stipend, which is not valid for this round.

[2021-01-31 20:09] sagesharp opened #460 "Rework intern chats"
We want interns and mentors to be able to participate in the Outreachy intern chats. We also want to introduce interns to different parts of open source culture. Some of the current chats do that better than others.

New chat schedule:
 - week 1: intro chat - introduce yourself and Q&A
 - week 3: everybody struggles - normalize the fact that everyone struggles, everyone needs help, and it's okay t

[2021-02-01 17:32] shades-7 commented on #460
I would like to work on it

[2021-02-02 04:52] aditisingh2412 commented on #460
Hey can I also work on it? Or I can coordinate with @shades-7

[2021-02-12 16:17] djmitche opened #463 "Dead link in CFP page"
STR:
* visit https://www.outreachy.org/communities/cfp/mozilla/
* click "Mentor requirements"

https://www.outreachy.org/communities/cfp/mozilla/mentor/#mentor does not exist.

[2021-02-15 16:37] sagesharp commented on #463
This is a duplicate of #330. I was leaving it as newcomer friendly bug for someone to fix, but there's been enough complaints about it that I'll just fix it. Committing the fix shortly.

[2021-02-15 16:45] djmitche commented on #463
Sorry to miss the dupe!

[2021-02-15 16:49] #463 closed

[2021-02-15 16:49] #330 closed

[2021-04-08 16:14] sagesharp opened #467 "Create a shared ical feed of important dates"
This is a medium-complexity issue. If this is your first time contributing to Outreachy, please [complete an issue tagged "newcomers welcome" first](https://github.com/outreachy/website/labels/newcomers-welcome).

# Motivation

Outreachy has several important dates associated with an internship cohort. Those dates include basically all the dates in the `RoundPage` class in `home/models.py`. Someti

[2021-04-30 17:28] sagesharp opened #471 "Change "submit" button to "save" button for final applications"
Outreachy applicants can save and edit their final applications until the final application deadline. Mentors will be able to see their draft final applications. There's no final step to "Submit" the application; instead the last draft they saved is the final one.

However, the UX on the [final application page](https://github.com/outreachy/website/blob/master/home/templates/home/finalapplication_

[2021-05-10 17:04] sagesharp opened #472 "Add information about interns with internet issues to community docs"
Add the following to the [community docs](https://github.com/outreachy/website/blob/master/home/templates/home/docs/community_guide.html) in a new section "Internship Tips". Add a subsection "Internet in developing countries". Add the following text:

Mentors need to be prepared to work with interns who have internet issues. Outreachy interns in India, countries in Africa, and other developing nat

[2021-05-19 16:42] jirenui commented on #472
Hi, I am new to open source, would like to work on this issue.

[2021-05-22 15:06] sagesharp opened #473 "Clarify eligibility WRT employment"
Outreachy applicants have expressed confusion about our rules around part-time employment during the Outreachy internship. Therefore, we need to clarify the wording on our [eligibility rules](https://www.outreachy.org/apply/eligibility/) page.

In the [home/templates/home/snippet/eligibility_rules.html file](https://github.com/outreachy/website/blob/master/home/templates/home/snippet/eligibility_r

[2021-05-22 15:14] #301 closed

[2021-05-22 15:15] #154 closed

[2021-05-22 15:48] sagesharp commented on #459
Documenting this bug more:

# Background

There is text in an automated email to interns that references the Outreachy travel stipend. The Outreachy travel stipend no longer exists.

Outreachy used to pay interns a $5,500 internship stipend and a $500 travel stipend. Since the COVID-19 pandemic hit, we suspended the travel stipend indefinitely. We moved the $500 travel stipend into the internship

[2021-05-22 16:01] sagesharp commented on #393
Additional summer of code programs:
 - [Chinese summer of open source](https://summer.iscas.ac.cn/#/?lang=en) - verify whether applicants need to speak mandarian?
 - [European Summer of Weather Code](https://esowc.ecmwf.int)

[2021-05-22 16:25] #137 closed

[2021-05-22 16:26] #139 closed

[2021-05-22 16:33] sagesharp commented on #163
Documenting this bug more:

1. Fix the typo in Q1. Use the term "interested applicants" instead of "perspective" or "prospective" applicants. That's simpler English, and better for non-native English speakers. The typo is in [home/templates/home/snippet/twitter_chat_instructions.html](https://github.com/outreachy/website/tree/master/home/templates/home/snippet/twitter_chat_instructions.html)
2. Lo

[2021-05-22 16:48] sagesharp opened #474 "Remove travel stipend refrence in intern intro email"
The email we send to Outreachy interns mentioned the Outreachy travel stipend. That travel stipend is no longer used.

Remove the following text from [home/templates/home/emails/interns-notify.txt](https://github.com/outreachy/website/blob/master/home/templates/home/email/interns-notify.txt):

[code]

You will need to test that the email looks correct. Run the following shell commands to set up th

[2021-06-06 11:19] prsmahajan commented on #474
Hi, I would like to work on this issue, can anyone suggest me ways to get started?

[2021-06-06 11:23] prsmahajan commented on #473
Hi, I would like to work on this issue, can anyone suggest me ways to get started?

[2021-06-06 11:31] prsmahajan commented on #472
Hi, I would like to work on this issue, where should the internship section be on top or the bottom?

[2021-06-15 12:13] abhiprojectz commented on #472
PR is ready for this issue.

[2021-06-15 12:15] prsmahajan commented on #471
Can I work on this? I have a little idea about this!

[2021-06-15 12:17] prsmahajan commented on #472
What do you mean by this @abhiprojectz ?

[2021-06-26 09:44] Ammarpad opened #484 "Update Wikimedia Foundation logo"
Wikimedia Foundation corporate logo has been changed from the colored version to this monochrome several years ago.
<img src="https://user-images.githubusercontent.com/45658045/123508950-7e5f8a00-d66a-11eb-9125-446898f78a00.png" width="320" height="220">

It should be changed on the Outreachy website homepage too. (https://www.outreachy.org/)

Various resolutions of the logo can be found on Wikime

[2021-06-28 14:36] Subhradeep10 commented on #484
@Ammarpad Can I work on it?

[2021-06-28 14:41] Ammarpad commented on #484
@Subhradeep10, I think you can, but please read this post #399 about the availability of maintainers first.

[2021-07-02 17:43] RiddhiAthreya commented on #452
@sagesharp is this issue still relevant? looks like different cohorts are on different pages

[2021-07-19 11:38] richach commented on #474
Hi Community, I am Richa. I am new to this community and I would like to work on the issue code #474. Thank you!

[2021-07-19 16:50] #474 closed

[2021-07-19 16:54] sagesharp commented on #452
@RiddhiAthreya Yep, you're correct. The alums page has been split into different cohorts, so this should be closed.

[2021-07-19 16:54] #452 closed

[2021-07-19 17:58] #459 closed

[2021-07-20 17:45] sagesharp opened #487 "Update opportunities page with new resources"
Write the Docs technical writer's job board - https://jobs.writethedocs.org/

[2021-07-20 17:48] sagesharp opened #488 "Show countries of interns on feedback page"
When reviewing intern feedback, it's often good to know what country an intern is living in during the internship. For example, a cyclone might interrupt the west coast of India. Or a country may have a high COVID case and death load. All these incidents can impact the interns.

Display the location and timezone for the intern on the initial, midpoint, and final feedback page.

[2021-07-20 17:48] sagesharp commented on #488
This might be better suited to a link to the active intern page. That will also display the intern's pronouns as well.

[2021-07-23 18:20] #473 closed

[2021-07-26 01:15] sagesharp commented on #356
Note: @dimesiosfc is currently working on this issue. (Rosanne - I can't assign you to this issue, the GitHub interface is mysterious in who it allows me to assign tasks to. I suspect that once you comment on this issue, GitHub will allow me to assign it to you.)

[2021-07-28 17:42] dimesiosfc commented on #356
Sage,

If someone else wants to work on this you should let them. I have to
squeeze this in between my regular duties and don't know when I'll have
time to proceed.

FYI, I tried changing the Last Date for Project Submission, and while it
changed the date in the timeline, the page still said the CFP is closed,
so I'm stuck on that issue anyway.

On 2021-07-25 20:15, Sage Sharp wrote:

[2021-08-08 04:46] sagesharp opened #490 "Show community guide link after project submission"
After a mentor fills out all the forms to submit a project, they are redirected to a page that shows their project details. That page has tips for what mentors should do while they wait for the contribution period to start.

That section currently references the old [mentor FAQ](https://www.outreachy.org/mentor/mentor-faq) instead of the new [community guide](https://www.outreachy.org/docs/communi

[2021-08-19 11:36] mridubhatnagar commented on #397
@sagesharp, I am interested in solving this up.

[2021-08-20 03:15] RiyaGupta89 commented on #397
I am going to work on this issue. I was setting up the local environment for the project, and when I ran "./manage.py createsuperuser" command it asked for login. I don't know which password to enter here therefore I can't proceed further. Help needed!!!!!!!!!

[2021-08-21 16:03] mridubhatnagar opened #492 "Error while doing the project setup"
I am trying to set up the project on my local system based on the steps mentioned in the repository's README.md file but I am facing the following issue when I am trying to access the web applications URL. I am able to access the admin panel though.

Can you guide me on how to do the project setup?

![Screenshot from 2021-08-21 21-29-03](https://user-images.githubusercontent.com/16894718/130327807

[2021-08-23 17:47] sagesharp commented on #492
I think that error occurs when either you didn't install the npm packages, or you didn't run the manage.py runserver command with the npm package prefix. Please tell me exactly what commands you ran before you got this error.

[2021-08-23 18:07] sagesharp opened #495 "Registration should check for duplicate usernames"
When you register an account on the Outreachy website, it asks for a username. Right now, the form validation does not check whether the username is already in use.

That means when someone tries to create a new account with a username that is already in use, a "duplicate key value" error is thrown. The user ends up at an ngix error page with few details on what happened, which is a terrible user

[2021-08-24 07:07] Sukriti-sood commented on #495
@sagesharp I want to work on this issue.

[2021-08-24 16:00] sagesharp commented on #495
@Sukriti-sood Welcome! Please make sure to read the [Newcomer's Guide](https://github.com/outreachy/website/issues/399) and the [README](https://github.com/outreachy/website/blob/master/README.md).

This is a medium complexity issue, so it may be a bit too complicated for your first issue. I would suggest tackling another issue if you're new to Python and Django.

[2021-08-25 04:51] Himanxu1 commented on #490
I Would like  to contribute .

[2021-08-31 15:22] sagesharp opened #496 "Withdrawn mentors not handled properly"
When a mentor withdraws from a project, the following things should happen:
 1. they should no longer be listed as a mentor for the project on the alums page
 1. they should no longer receive emails related to the project (e.g. internship emails sent every two weeks, or requests for mentor feedback)
 1. they should not have the internship listed on their dashboard
 1. they should not be allowed to

[2021-08-31 16:02] sagesharp commented on #492
@mridubhatnagar You did almost all the right steps! For the last command, the README.md says that you need to run this command:

[code]

That first part of the command does something very important. Leaving it off caused the error you encountered. I'll explain why below. If you already know these things, no worries! I just want to make sure other people who run into this error understand what's ha

[2021-08-31 16:12] sagesharp commented on #492
Ah, I thought of one more thing that might be an issue. You will also need to make sure you run the command while in your git repository. That may mean you need to change directories, as sometimes invoking a virtual environment can cause you to change directories.

[2021-08-31 16:25] #492 closed

[2021-09-04 05:19] ShaileshKumar007 commented on #391
Hi, I've added the mentor section to both the Internship and Applicant Guide. Please do review my PR if possible.

[2021-09-17 19:17] joshmoore opened #500 "Typo in /mentor/mentor-faq/#define-a-project"
I looked for the source of this file and unfortunately couldn't find it.

In the third paragraph:

[code]

[2021-09-17 22:50] pitag-ha opened #501 "Avoid internal server error on duplicated submission"
When submitting a project or a community that's already submitted, you get an internal server error:
![Screenshot from 2021-09-18 00-40-05](https://user-images.githubusercontent.com/39061003/133860827-f8fd4f8d-62aa-42b8-a0ad-f5bbd01dccea.png)

The expected behavior would be to get a message saying that that project has already been submitted.

**How to reproduce:**
- Go to submit a project
- Fill

[2021-10-14 21:16] djmitche opened #502 "Update Mentor FAQ to point to Zulip"
From @standard8:
---
In the Mentor FAQ, under the Application Process section it references:

Those channels seem to inactive - there's been no discussion on them for at least a few months from what I can tell of Matrix's IRC bridges.

[2021-11-02 14:53] sagesharp opened #504 "Add visible anchor links to project list page"
In the project-selection page, there are anchor tags for each community. These anchors allow you to link directly to a community's project list. E.g.

https://www.outreachy.org/apply/project-selection/#apache

(If Apache was participating in the current round.)

Mentors don't know they can link directly to their project list. Make the anchor tags more visible on the page like we do with the docume

[2021-11-03 04:22] Librechain opened #505 "This Project is an Abomination (Not a Troll; Written by Black Male from Baltimore City)"
# More Harm Than Help

Hey. I'm a Black male in his late 20's residing in the United States. I grew up in Baltimore, which is currently ranked #11 globally among all cities worldwide in terms of crime rate.

I fit the description of what one would classically refer to as a "disadvantaged minority". That's why I'm speaking out against this project and blowing the whistle, sounding the alarms, and a

[2021-11-03 10:20] Librechain commented on #505
Saw that someone reacted to this comment with a thumbs down.

Not surprised. Flowery statements weigh heavier than actual actions in the world that we live in, currently - sad to say.

Don't care about the demographic composition of this organization; the way this scheme is structured is piss poor, exploitative and parasitic.

Someone with integrity (me), had to call this crap out for what it was.

[2021-11-05 08:11] IamMujuziMoses opened #506 "Add Information about how Outreachy is different from other intrrnship programs"
The section [1.6. How is Outreachy different from other Internship programs](https://www.outreachy.org/docs/community/#program-differences) in the [community docs](https://github.com/outreachy/website/blob/master/home/templates/home/docs/community_guide.html) is empty and information is needed.

The community docs need to show the difference and how Outreachy is better than other internship progra

[2021-11-08 22:02] djmitche commented on #502
If it's been updated, yes :)

I don't think I can see that, as I'm not a mentor.

[2021-11-08 22:02] #502 closed

[2021-11-09 10:05] jakka351 commented on #505
Good work!

[2021-11-11 04:46] cryptoquick commented on #505
Incredibly comprehensive and fair criticism. Yeah, it's not a good look to pay disadvantaged people such a low hourly for full-time tech work. And what, they do work, but if it doesn't meet expectations, they just don't get paid?

Also, with such high expectations, it could set them up for failure and cause them to avoid the industry, which hurts more than helps.

This reeks of vulture capitalism

[2021-12-01 16:35] sagesharp commented on #505
Thank you for contacting us with your concerns. We have updated our [internship guide](https://github.com/outreachy/website/blob/master/home/templates/home/docs/internship_guide.html) and [internship agreement](https://github.com/outreachy/website/blob/master/docs/intern-agreement.md). In the future, please [send comments](https://www.outreachy.org/contact/organizers/) on Outreachy policies direct

[2021-12-01 16:35] #505 closed

[2021-12-18 07:16] ramantamang777 opened #510 "update wikimedia logo"

[2021-12-20 10:28] jufajardini commented on #510
Hi, if you want it to be updated on outreachy website, I think the way of accomplishing that, right now, is to send the updated logo to the outreachy organizers email, and ask for it to be replaced! :)

[2022-01-05 00:57] sagesharp commented on #510
@ramantamang777 The Outreachy website displays sponsor logos that they give us. We typically only update those logos if the sponsors ask us to. Occasionally sponsor don't notice. Still, we would only update a logo if there was an official announcement from Wikimedia about a logo change.

Could you point me to a blog post or press release page with the updated logo? Thanks

[2022-01-05 01:53] sagesharp opened #511 "Export and archive internship feedback"
# Background

The Outreachy website database is currently storing internship feedback dating back to the December 2018 cohort. That information is not needed once an intern cohort is fully finished, so it should be exported and removed from the website.

We do want to use the internship feedback data to coorrellate against the longitudinal studies we want to run. For example, it would be good to k

[2022-01-07 23:35] kinow opened #512 "Inconsistency in weekly hours for interns?"
Hi,

In [Mentor Feedback](https://www.outreachy.org/mentor/mentor-faq/#payments-extensions-and-terminations), it says:

However, in [Internship Time Commitment](https://www.outreachy.org/docs/internship/#time-commitment), it says:

Shouldn't both be `30`, or `40` hours?

Thanks!
-Bruno

[2022-01-12 00:00] Frijol opened #513 "Link for mentor signup broken"
![image](https://user-images.githubusercontent.com/454690/149040077-b6b33cd9-a681-44ed-87ec-cfe94f45020a.png)

The link for mentors to apply on the homepage is broken. "sign up" in "Mentors can sign up" links to https://www.outreachy.org/community/cfp when it should link to https://www.outreachy.org/communities/cfp/

[2022-01-26 00:50] dishaa1624 commented on #472
I would like to work on this issue

[2022-01-26 00:51] dishaa1624 commented on #490
I would like to contribute

[2022-02-08 15:24] asmijafar20 opened #515 "Pronouns specification issue."
When the outreachy announced its results every intern got displayed on [Alums Page](https://www.outreachy.org/alums/2021-12/). So, if we didn't specify pronouns beforehand it automatically displays "**he/him/his**" which is not appropriate for everyone. So, **_null_** or _**not specified**_ should be displayed for pronouns if it's left blank beforehand.

[2022-04-01 14:22] sidd-oo opened #520 "Page not found for contacts of the Outreachy mentors mailing list"
Page not found for the page when we are having trouble reaching both the mentors and the coordinators, we can [contact the Outreachy mentors mailing list](https://www.outreachy.org/contact/mentors/).

![image](https://user-images.githubusercontent.com/25115188/161281762-3b7513c9-0602-4368-bf20-bbe74268b365.png)

[2022-04-05 18:42] Prakashh21 opened #521 "Bug while recording contributions"
Hey @sagesharp  while recording my contributions after filling all the details of the contribution , I clicked on the save button , It seemed like page was not loading so I **clicked the save button multiple times** .. which lead to **multiple copies of the same contribution in my contribution page** ..  as you can see in the image below

There should have been a way to delete contributions , plea

[2022-04-06 10:18] Sukriti-sood opened #522 "Bug: In Dashboard Page"
This page does not display the date of the final application deadline.
![Dashboard](https://user-images.githubusercontent.com/55010599/161953493-aa79ff07-2a4e-447e-a65c-80af7d21c466.png)

[2022-04-21 14:47] Fienne opened #523 "Documentation error on the Payment section of the Outreachy internship guide page"
Under the May 2022 internship payment schedule, the date July 10, 2021, is supposed to be July 10, 2022.

You can find the error below.

![Screenshot from 2022-04-21 15-38-59](https://user-images.githubusercontent.com/72187339/164483192-07cdb608-2cec-482f-9fb2-afe5ec176edd.png)

[2022-04-22 00:50] Preshh0 opened #524 "Enable delete option for a contribution."
Currently, in the "Record contributions" phase, approved applicants can't delete a contribution if they made a mistake. The option should be given for applicants to be able to delete a contribution if they made a mistake.

[2022-07-03 06:54] Preshh0 opened #526 "Fix broken link to list of paid internships on Openhatch.org"
The link that's supposed to direct to paid opportunities in open source is not working. It returns a 404 error.

[2022-07-16 10:00] taniaduggal commented on #523
I want to work on this issue @Fienne. Could you please provide the link of page where these changes should be occured.

[2022-07-16 10:05] taniaduggal commented on #523
btw @Fienne .I just now visit the website and bug has been resolved.

[2022-07-17 10:34] taniaduggal commented on #513
Hyy @Frijol . Could you please tell me the directory of this source code (outreachy dashboard). I tried, but unable to find.

[2022-09-06 19:32] BatoolMM opened #529 "Internal server error"
We have been trying to [sign up as a community](https://www.outreachy.org/communities/cfp/add/) but we have been experiencing this error with reference number `ec177a158579439fbd3316197f8bb673`. What do you recommend?

Apologies if I asked the same question via email!

[2022-09-22 14:35] Mercysticks opened #530 "Incorrect detail in the README.md file."
The Amount to be paid in the README.md file does not reflect the amount to be paid to interns on Outreachy's website. Instead of $7,000, $6,000 was written in the README.md file.

[2022-10-05 18:20] Mysterious786 opened #531 "Update Wikimedia logo"
A new logo and few text style changes will attract readers attention a lot and use of  different  designs to webpage contents.

[2022-10-09 18:31] AM-png commented on #526
[Openhatch](https://blog.openhatch.org/2017/celebrating-our-successes-and-winding-down-as-an-organization/) winded down in 2017.

[2022-10-13 07:23] taniaduggal commented on #530
@Mercysticks it means it must be $7000 in readme

[2022-11-06 00:20] Preshh0 commented on #361
Hi Sage, has this been worked on?

I'd like to add it.